body{
    background: #F1FCFF;
    width: 100%;
    overflow-x: hidden !important;

}
#header{
    position: absolute;
    top: 10vh;
    width: 100%;
    background: #67C1E8;
    height: 8vh;
    font-family: 'Andika', sans-serif;;
    color: white;
}
#header>h3{
    position: absolute;
    top: 1vh;
    left: 35vw;
}
main{
    position: relative;
}
footer{
    position: relative;
    bottom: 0;
    background: #91DEE6;
    width: 100%;
    height: 10vh;
    border-radius: 100px 100px 0 0;
}
#tag>h3{
    margin: 0;
    font-family: 'Kaushan Script', cursive;
    color: #424243;
}
#second_line{
    padding-left: 2vw;
    padding-top: 2vh;
}
#tag{
    position: absolute;
    left: 40vw;
    top: 2vh;
}
h2{
    position: relative;
    top: 50vh;
    left: 5vw;
}
.card {

    /*background: #313131;*/
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    transition: 0.2s ease-in-out;
    box-shadow:  5px 5px 30px #50af8f,
    5px 5px 30px #80ffe5;

}

.img>img {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    transition: 0.2s ease-in-out;
    z-index: 1;
    border-radius: 20px;

}

.textBox {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: 0.2s ease-in-out;
    z-index: 2;
}
.textBox > .price>a{
    text-decoration: none;
    color: black;
}

.textBox > .text {
    opacity: 1;
    font-weight: bold;
}

.textBox > .price:hover{
    background: #f89b29;
}

.card:hover > .textBox > .span, .card:hover > .textBox > .price{
    opacity: 1;
}

.card:hover > .img {
    height: 100%;
    filter: blur(7px);
    animation: anim 3s infinite;
}
.card:hover > .textBox>.case{
    display: none;
}
.card:hover {
    transform: scale(1.04) rotate(-1deg);
}
.textBox > .head {
    font-family: 'Arya', sans-serif;
    color: black;
}
.textBox > span {
    font-family: 'Black Han Sans', sans-serif;
    font-weight: bold;
    color: #837C7C;
    opacity: 0;
}
.textBox > .price {
    font-family: 'Baloo Thambi 2', cursive;
    color: #1584EB;
    background: lightseagreen;
    padding: 8px;
    border-radius: 15px;
    opacity: 0;
}
.card {
    width: 200px;
    height: 300px;
}
.textBox > .span >a{
    text-decoration: none;
    color: orangered;
}
.textBox> .case{
    font-family: 'Black Han Sans', sans-serif;
    font-weight: bold;
    color: #837C7C;
    opacity: 1;
}
.assignments>.card{
    display: inline-grid;
    margin-left: 7vw;
    margin-top: 4vh;
}
.assignments{
    position: absolute;
    top: 30vh;
    left: 3vw;
    width: 100%;
}
#assignment{
    height: 150vh;
}
@keyframes anim {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}
@media all and (max-width: 1440px){
    main{
        height: 200vh;
    }

}

@media all and (max-width: 1024px){
    #header>h3{
        top: 1vh;
        left: 30vw;
    }
}

@media all and (max-width: 960px){
    main{
        height: 250vh;
    }
    #header>h3{
        top: 1vh;
        left: 25vw;
    }
    .assignments{
        left: 10vw;
    }
}
@media all and (max-width: 768px){
    #header>h3{
        top: 1vh;
        left: 20vw;
        font-size: 18px;
    }
    #first_line{
        font-size: 17px;
    }
    #second_line{
        font-size: 17px;
    }
}
@media all and (max-width: 767px) and (min-width: 425px){
    .assignments{
        left: 20vw;
    }
    #header>h3{
        left: 15vw;
        font-size: 15px;
    }
    main{
        height: 450vh;
    }
    #first_line{
        font-size: 15px;
    }
    #second_line{
        font-size: 15px;
    }

    #tag{
        left: 30vw;
    }
}
@media all and (max-width: 425px){
    .assignments{
        left: 15vw;
    }
    #header>h3{
        left: 15vw;
        font-size: 15px;
    }
    main{
        height: 480vh;
    }
    #first_line{
        font-size: 15px;
    }
    #second_line{
        font-size: 15px;
    }

    #tag{
        left: 32vw;
    }
}
@media all and (max-width: 375px){
    .assignments{
        left: 17vw;
    }
    #header>h3{
        left: 15vw;
        font-size: 13px;
    }
    main{
        height: 480vh;
    }
    #first_line{
        font-size: 15px;
    }
    #second_line{
        font-size: 15px;
    }

    #tag{
        left: 32vw;
    }
}
@media all and (max-width: 320px){
    .assignments{
        left: 17vw;
    }
    #header>h3{
        left: 11vw;
        font-size: 12px;
        top: 2vh;
    }
    main{
        height: 480vh;
    }
    #first_line{
        font-size: 15px;
    }
    #second_line{
        font-size: 15px;
    }
    #tag{
        left: 32vw;
    }
}