#button {
    display: flex;
    justify-content: center;
    color: black;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    transition: all 0.3s ease-in-out 0s;
    box-shadow: rgba(193, 244, 4, 0.698) 0px 0px 0px 0px;
    animation: 1.2s cubic-bezier(0.8, 0, 0, 1) 0s infinite normal none running pulse;
    align-items: center;
    border: 0;
}

#button:is(:hover, :focus) {
    transform: scale(1.2);
}

@keyframes pulse {

    100% {
        box-shadow: 0 0 0 45px transparent;
    }
}

#button {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}
#button:hover {
    cursor: pointer;
    background-color: #333;
}
#button:active {
    background-color: #555;
}
#button.show {
    opacity: 1;
    visibility: visible;
}
