#header_navigation>dd{
    display: inline;
    margin: 1vw;
}
#mobile_navigation {
    position: absolute;
    right: 0;
    opacity: 0;
    transform: translateX(20px);
    width: 20vw;
    height: 100vh;
    background: #F3FFF1;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: all 0.5s ease;
}
#mobile_navigation > dl > dd > a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    position: relative;
    font-family: 'Oswald', sans-serif;

}
#mobile_navigation > dl > dd{
    display: grid;
    margin-top: 7vh;
}
header{
    position: sticky;
    top: 0;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 1vh;
    z-index: 99999;
}
.navIcon{
    display: inline;
    position: absolute;
    right: 5vw;
}

nav > dl > dd > a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    position: relative;
    font-family: 'Oswald', sans-serif;
}

#menu_close,#menu{
    display: none;
}

@media all and (min-width: 1024px) {

    #menu_close,#menu,#mobile_navigation{
        display: none !important;
    }

    header > section > nav >#header_navigation {
        position: absolute;
        right: 10%;
        top: 15%;
    }
    header > section > picture{
        position: relative;
        left: 10%;
    }

    #header_navigation > dd > a:hover::after {
        background-color: green;
        width: 100%;
    }

    #header_navigation > dd > a:after {
        content: '';
        position: absolute;
        width: 0;
        height: 3px;
        background-color: transparent;
        bottom: -8px;
        left: 0;
        transition: width 0.3s ease;
    }
}
@media all and (max-width: 1000px ){

    nav>#header_navigation{
        display: none;
    }
    #menu{
        display: block;
        transition: all 0.5s ease;
    }
    #menu_close{
        transition: all 0.5s ease;
    }
    #mobile_navigation {
        width: 30vw;
        z-index: 1111;
    }

}


